{% extends 'base.html' %}
{% load static %}
{% block title %} Teachers List {% endblock %}


{% block style %}


{% endblock %}


{% block content %}


<div class="content container-fluid">
<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">List of Teacher</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="javascript:(0);">Teacher</a></li>

								</ul>
							</div>
						</div>
					</div>


	                    <div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fe fe-credit-card"></i>
										</span>
										<div class="dash-count">
											<h3>{{ teacher_count }}</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">Teachers</h6>
									</div>
								</div>
							</div>
						</div>



	               <a class="btn btn-danger mb-4" href="{% url 'teacher_add' %}">Add Teacher</a>
<!--	               <a class="btn btn-danger mb-4" data-toggle="modal" href="#edit_invoice_report">Add Teacher</a>-->

					<!-- /Page Header -->

					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="row">
									<div class="col">
										<div class="card card-body">
											<form method="get">
											   {{teacherFilter.form}}
											   <button class="btn btn-success float-right" type="submit">Search</button>
											</form>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Name</th>
													<th>Group</th>
													<th>Date of Birth</th>
													<th>Gender</th>
													<th>Phone</th>
													<th>Action</th>

												</tr>
											</thead>
											<tbody>

                                               {% for Teacher in teacher %}
											    <tr>
													<td>
														<h2 class="table-avatar">
															<a href="#">{{Teacher.name}} </a>
														</h2>
													</td>
													<td>{{Teacher.group}}</td>
													<td>{{Teacher.date_of_birth}}</td>
													<td>{{Teacher.gender}}</td>
													<td>{{Teacher.phone}}</td>
													<td>
														<a class="btn btn-sm bg-success-light mr-2" href="{% url 'teacher_change' Teacher.pk %}"><i class="fe fe-pencil"></i></a>&nbsp;
														<a class="btn btn-sm bg-danger-light" href="{% url 'teacherdelete' Teacher.id %}"> <i class="fe fe-trash"></i></a> &nbsp;
														<a class="btn btn-sm bg-info-light" href="{% url 'teacher_profile' Teacher.id %}"><i class="fa fa-eye"></i></a>
													</td>
												</tr>
                                                {% endfor %}

											</tbody>
										</table>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                 </div>












{% endblock %}

